@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

h1 {
    color: #2966b0;
}

body {
    height: 100vh;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div {
    margin-top: 50px;
    width: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

button {
    width: 150px;
    height: 92.7px;
    margin: 25px 40px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 5px;
    border: 1px solid #2966b0;
    color: #2966b0;
    background-color: #FFFFFF;
    transition: all 300ms ease-in-out;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

button:hover {
    color: #FFFFFF;
    background-color: #2966b0;
    border: none;
}